*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    background: linear-gradient(to right, #032f4d, #6facef);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.container
{
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin:100px auto ;
    background: rgba(86, 79, 79, 0.3);
    box-shadow: 2px 2px 5px white;
    border-radius: 10px;
}
.search
{
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.search input
{
    min-width: 50vw;
    height: 30px;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 18px;
    margin-left: 20px;
}
.search button
{
    height: 30px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid white;
    padding: 5px;
}
#btn
{
    transition: all 0.4s ease;
}
#btn:hover
{
    background-color: white;
    color: black;
}
#popup
{
    display: none;
    position: absolute;
    width: 50%;
    height: 200px;
    top: 100px;
    left:300px;
    margin-top: 8px;
    padding: 8px;
    background-color: #ff4d4d;
    color: white;
    border-radius: 8px;
    font-size: 1.2em;
    text-align: center;
    font-weight: 900;
    line-height: 200px;
}
#errorbox
{
    display:none;
    position: absolute;
    background: #ff4d4b;
    color: white;
    top:200px;
    left: 400px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 700;
}
.location
{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
}
.locationdetail
{
    height: 20vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}
.locationabout
{
    width: 200px;
    margin-left: 22px;
}
.locationdetail h2
{
    font-weight: bold;
    text-align: left;
    font-size: 2.5em;
}
.locationdetail p
{
    text-align: left;
    font-size: 1em;
    margin-bottom: 5px;
}
.imgbox
{
    margin-right: 100px;
    width: 100px;
    height: 100px;
}
.imgbox img
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align:left ;
}
.locationweather
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 20vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.card
{
    /* background-color: yellow; */
    width: 200px;
    height: 100px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 2px white;
    background-color: transparent;
    padding: 5px;
    transition: all 0.4s ease ;
}
.card:hover
{
    box-shadow: 2px 2px 5px white;
    transform: scale(1.1);
}
.fivecast
{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    gap:10px;
}

.castcard
{
    width: 150px;
    min-height: 100px;
    text-align: center;
    font-weight: 600;
    font-size: 1em;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 2px white;
    background-color: transparent;
    padding: 5px;
    transition: all 0.4s ease ;
}