*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    background: linear-gradient(to right, #032f4d, #6facef);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}
.container
{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin:100px auto ;
}
.search
{
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
}
.search input
{
    width: 80%;
    height: 30px;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 18px;
    margin-left: 20px;
}
.search button
{
    width: 10%;
    height: 30px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid white;
}
#btn
{
    transition: all 0.4s ease;
}
#btn:hover
{
    background-color: white;
    color: black;
}
.location
{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
}
.locationdetail
{
    height: 20vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.locationabout
{
    width: 200px;
    margin-left: 22px;
}
.locationdetail h2
{
    font-weight: bold;
    text-align: left;
    font-size: 2.5em;
}
.locationdetail p
{
    text-align: left;
    font-size: 1em;

}
.imgbox
{
    margin-right: 100px;
    width: 100px;
    height: 100px;
}
.imgbox img
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align:left ;
}
.locationweather
{
    display: flex;
    height: 20vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.card
{
    /* background-color: yellow; */
    width: 200px;
    height: 100px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 2px white;
    background-color: transparent;
    padding: 5px;
}