:root
{
    --secondary-color: #918c8c54;
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
/* body style */
body
{
    background: linear-gradient(to right, #032f4d, #6facef);
    width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* container style */
.container
{
    position: relative;
    width: 90%;
    min-height: 90vh;
    display: flex;
    margin: 20px;
    gap: 20px;
    flex-direction: column;
    box-shadow: 2px 2px 5px white;
    border-radius: 10px;
}
/* search div style */
.search
{
    display: flex;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
}
.search input
{
    width: 50%;
    max-width: 900px;
    height: 30px;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 1em;
    margin-left: 20px;
}
.search button
{
    height: 30px;
    border-radius: 10px;
    background: rgba(99, 93, 93, 0.3);
    color: white;
    font-size: 1em;
    cursor: pointer;
    border: 1px solid white;
    padding: 5px;
    line-height: 0.5;
}
#btn
{
    transition: all 0.4s ease;
}
/* hover effect on button */
#btn:hover
{
    background-color: white;
    color: black;
}
/* popup style  */
#popup
{
    display: none;
    position: absolute;
    width: 300px;
    height: 150px;
    top: 100px;
    margin: 0 auto;
    padding: 8px;
    background-color: #ff4d4d;
    color: white;
    border-radius: 8px;
    font-size: 1.2em;
    text-align: center;
    font-weight: 900;
    line-height: 150px;
}
/* error style */
#errorbox
{
    display:none;
    position: absolute;
    background: #ff4d4b;
    color: white;
    top:100px;
    margin: 0 auto;
    padding: 10px;
    width: 250px;
    height: 100px;
    text-align: center;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 700;
}
/* location style */
.location
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.locationdetail
{
    height: auto;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.locationabout
{
    width: 200px;
}
.locationabout h2
{
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
}
.locationabout p
{
    text-align: center;
    font-size: 1em;
    margin-bottom: 5px;
}
.imgbox
{
    width: 100px;
    height: auto;
}
.imgbox img
{
    width: 100%;
    height: 100%;
    text-align:center ;
}
/* style to search location weather */
.locationweather
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: auto;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
/* style to card which is dynamically apply through js */
.card
{
    width: 200px;
    height: 100px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 2px white;
    background-color:var(--secondary-color);
    padding: 5px;
    transition: all 0.4s ease ;
}
/* hover effect on card */
.card:hover
{
    box-shadow: 2px 2px 5px white;
    transform: scale(1.1);
}
/* style 5 day forecastdiv */
.fivecast
{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 10px;
    gap:10px;
    padding: 10px;
}

.castcard
{
    width: 150px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1em;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 2px white;
    background-color: var(--secondary-color);
    padding: 5px;
    transition: all 0.4s ease ;
}
.castcard img
{
    text-align: center;
}
/* hover effect on castcard */
.castcard:hover
{
    box-shadow: 2px 2px 5px white;
    transform: scale(1.1);
}
/* media query */
@media screen and (max-width: 600px)
{
    .container
    {
        width: 100%;
        min-height: 100vh;
    }
    .search input
    {
        width: 80%;
    }
    .locationdetail
    {
        flex-direction: column;
        align-items: center;
    }
    .locationabout
    {
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width: 400px)
{
    .search input
    {
        width: 100%;
    }
    .locationdetail
    {
        flex-direction: column;
        align-items: center;
    }
    .locationabout
    {
        width: 100%;
        text-align: center;
    }
}